.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-content: space-around;
  }

.moviedivcard {
      display:inline-block; 
      align-self: center;
  }

.moviecard {
    margin: auto;
    max-width: 18rem;
    max-height: 24rem;
}

  .cardtitle {
    font-size: 16px;
  }
  
  .cardsubtitle {
    font-size: 12px;
  }